p {
	font-size:12pt;
}


body {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

ul {
list-style-type: circle;
}

table {
    border-collapse: collapse;
	border-color: gray;
}


html {
    padding: 0;
    margin: 0;
   /*background: url('style/retina_wood2x.jpg') no-repeat center center fixed; */
   /*background: url('style/retina_wood2x.jpg'); */
   background: url(retina_woodb.jpg); 
   background-repeat:repeat;
}
h2,h3 {
margin:0px;
/*font-family: 'Times new roman'; */
/* text-decoration: underline; */
}

/* unvisited link */
a:link {
color: #0d8ba1;
}

/* visited link */
a:visited {
color: #1a5952;
}

/* mouse over link */
a:hover {
color: black;
}

/* selected link */
a:active {
color: gray;
}


#main2 {
	/* font-family:'Libre Baskerville', 'sans-serif', 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif; */ 
	/* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif, 'arial';*/
	/* font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; */
	font-family: 'verdana', 'arial';
	/* font-size: 10pt; */
	/* background-color:#E9E9E9; */
	/* border: 1px black;*/
	/* z-index:0px; */
	width:95%;
	max-width:900px;
	/* height: 100%; */ 
	/* padding: 5px; */
	/* border:1px solid black; */
	margin-left: auto;
	margin-right: auto;
	background-size: cover;


	/* background-color: ffffff;
	opacity: 0.6;
	/*filter: alpha(opacity=60);*/
	padding: 5px; */


}

#submain2 {
	 /* border-left: 1px black dashed; */
	/* border-right: 1px black dashed; */
	/* border: 1px #333333 solid; */
	/* background-size: cover; */

	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
	background: rgba(255, 255, 255, .6);

	padding: 20px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}


#sectiontitle{
	background: rgb(255, 255, 255); /* Fall-back for browsers that don'tsupport rgba */
	background: rgba(255, 255, 255, .7);
	border-bottom: 1px dashed gray;
}

#currentsection {
	background: rgb(0, 255, 0); /* Fall-back for browsers that don't support rgba */
	background: rgba(0, 255, 0, .2);
}

